
<div id="header-wrapper">
	<header class="container" id="site-header">
		<div class="row">
			<div class="12u">
				<div id="logo">
					<h1>Arcana</h1>
				</div>
				<nav id="nav">
					<ul>
						<li class="<% if (current.source == 'index') { %>current_page_item <% } %>"><a href="/index">Homepage</a></li>
						<li class="<% if (current.source == 'threecolumn1') { %>current_page_item <% } %>"><a href="/threecolumn1">Three Column #1</a></li>
						<li class="<% if (current.source == 'threecolumn2') { %>current_page_item <% } %>"><a href="/threecolumn2">Three Column #2</a></li>
						<li class="<% if (current.source == 'twocolumn1') { %>current_page_item <% } %>"><a href="/twocolumn1">Two Column #1</a></li>
						<li class="<% if (current.source == 'twocolumn2') { %>current_page_item <% } %>"><a href="/twocolumn2">Two Column #2</a></li>
						<li class="<% if (current.source == 'onecolumn') { %>current_page_item <% } %>"><a href="/onecolumn">One Column</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
</div>